
@import '../fonts/lato/lato.css';

/* Variables */

$text-color: #e8e6e3;
$decoration-color: #464646;
$hover-text-color: #5caffd;
$hover-decoration-color: #204261;
$background-color: #181a1b;

$site-width: 1040px; // 960 + (40px * 2)
$site-padding: 40px;

/* Site generics */

body {
  background: $background-color;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: $decoration-color;
}

a:hover, a:focus {
  color: $hover-text-color;
  text-decoration-color: $hover-decoration-color;
}

h1, h2, h3, a {
  font-family: "Lato", sans-serif;
}

h1, a {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 600;
}

main {
  max-width: $site-width;
  padding-left: $site-padding;
  padding-right: $site-padding;
  padding-bottom: 50px;
  margin: 0 auto
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-width: 0;
  opacity: initial;
  border-top: 1px solid rgb(56, 61, 64) !important;
}

/* Content */

h1 {
  font-size: 64px;
  letter-spacing: 1.2px;
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 10px;
}
